<app-post-nav></app-post-nav>
<h3 class="text-muted">Edit your post</h3>
<form *ngIf="postLoaded" [formGroup]="postForm">
    <div class="form-group">
        <label class="center-block w-100">Name:
            <div class="badge badge-secondary">symbols left: {{120 - post.name.length}}</div>
            <input placeholder="please type the name of the post (min:2, max:120)" class="form-control"
                   [(ngModel)]="post.name"
                   formControlName="name">
        </label>
        <app-control-messages [control]="postForm.controls.name"></app-control-messages>
    </div>
    <div class="form-group">
        <label class="center-block  w-100">Post tags:
            <tag-input [(ngModel)]="post.tagged"
                       [identifyBy]="'id'"
                       [displayBy]="'tag_slug'"
                       [theme]="'dark'"
                       [class]="'tag-block-form'"
                       formControlName="tagged">
            </tag-input>
        </label>
    </div>
    <div class="form-group">
        <label class="center-block">Upload Image:
            <input type="file" (change)="fileChange($event)"
                   placeholder="Upload Post Image" class="img-post-input" accept=".png,.jpeg,.jpg">
            <img *ngIf="!tmpFileSrc" src="{{post.image_url}}" class="img-post-thumbnail">
            <img *ngIf="tmpFileSrc" src="{{tmpFileSrc}}" class="img-post-thumbnail">
        </label>
    </div>
    <div class="form-group">
        <label class="center-block w-100">Preamble:
            <div class="badge badge-secondary">symbols left: {{500 - post.preamble.length}}</div>
            <textarea placeholder="please type the preamble of the post (min:50, max:500)"
                      class="form-control"
                      [(ngModel)]="post.preamble" formControlName="preamble">
            </textarea>
        </label>
        <app-control-messages [control]="postForm.controls.preamble"></app-control-messages>
    </div>
    <div class="form-group">
        <label class="center-block  w-100">Body:
            <div class="badge badge-secondary">symbols left: {{50000 - post.body.length}}</div>
            <ckeditor
                    formControlName="body"
                    [(ngModel)]="post.body"
                    [config]="{uiColor: '#343a40',toolbar: [
			{ name: 'document', items: [ 'Source' ] },
			{ name: 'basicstyles', items: [ 'Bold', 'Italic' ] },
			{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
			{ name: 'links', items: [ 'Link', 'Unlink' ] },
			{ name: 'insert', items: [ 'CodeSnippet' ] },
			{ name: 'styles', items: [ 'Format', 'Styles' ] }],
			format_tags: 'p;h1;h2;h3;pre',
			removePlugins: 'image',
			extraPlugins: 'codesnippet,youtube,codemirror',
			removeDialogTabs: 'image:advanced;link:advanced;link:target'}"
                    [readonly]="false"
                    (change)="onChange($event)"
                    (ready)="onReady($event)"
                    (focus)="onFocus($event)"
                    (blur)="onBlur($event)"
                    debounce="500">
            </ckeditor>
        </label>
        <app-control-messages [control]="postForm.controls.body"></app-control-messages>
    </div>
    <div class="form-group">
        <input id="available" type="hidden" formControlName="available" name="available"
               [(ngModel)]="post.available">
        <div>
            <label class="w-100">Available:
                <span class="clearfix"></span>
                <input class="" type="checkbox"
                       [checked]="post.available === toggles[0].value"
                       (change)="$event.target.checked? (post.available = toggles[0].value) : (post.available = toggles[1].value)">
                <span class="form-check-inline">
                    {{ getDisplayToggles() }}
                </span>
            </label>
        </div>
        <app-control-messages [control]="postForm.controls.available"></app-control-messages>
    </div>
    <div class="form-group">
        <button [disabled]="loading" (click)="updatePost()" class="btn btn-primary">Update Post</button>
        <img *ngIf="loading"
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
    <div *ngIf="showDebug" class="debug">
        <p>Form value: {{ postForm.value | json }}</p>
        <p>Form status: {{ postForm.status | json }}</p>
    </div>
</form>