<div class="posts container">
    <div *ngFor="let post of posts" class="row block">
        <div class="row">
            <div class="col-lg-12">
                <a [routerLink]="['/post/', post.id]" class="header clearfix">{{post.name}}</a>
                <div class="card-block">
                    <img src="{{post.image_url}}" alt="{{ post.name }}" class="img-thumbnail">
                    <p>
                        {{ post.body | slice:0:200 }}
                    </p>
                    <span class="text-muted float-left text-left">{{post.created}}</span>
                    <a [routerLink]="['/post/', post.id]"
                       class="btn btn-dark btn-sm float-right text-right">go to post</a>
                </div>
            </div>
        </div>
        <hr style="border: dashed 1px darkgrey; width: 100%">
    </div>
    <app-pagination [pagination]="pagination"
                    [page]="page"
                    (pageUpdated)="pageUpdated($event)">
                    (click)="all(pagination.current_page)"
                    (offset)="4">
    </app-pagination>
</div>