.result {
  position: absolute;
  top: 60px;
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  li {
    padding: 0;
    text-align: left;
    a {
      white-space: normal; /* Отменяем перенос текста */
      overflow: hidden; /* Обрезаем содержимое */
      width: 100%;
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333;
      border-bottom: 1px solid lightgrey;
      text-align: left;
      i {
        color: #343a40;
        padding-left: 2px;
        padding-right: 2px;
      }
      &:hover {
        background: #428bca;
        color: #fff;
        span {
          color: #fff;
        }
      }
    }

  }
}