<div class="form-inline my-2 my-lg-0 w-100" id="search-block" style="position: relative">
    <input class="form-control mr-sm-2 search-input" (input)="makeSearch($event)" [(ngModel)]="searchQuery"
           type="text" placeholder="Search" aria-label="Search" name="searchQuery">
    <i class="glyphicon glyphicon-search icon-search"></i>
    <ul class="result mr-sm-2 w-100" id="search-result" *ngIf="searchResult">
        <li *ngFor="let item of searchResult">
            <a href="{{'/posts/'+ item.id}}" role="link" class="btn btn-link">
                {{item.name}}
                <div class="clearfix"></div>
                <span class="float-left text-left m-0">
                    <i class="glyphicon glyphicon-calendar"></i>: </span>
                <span class="float-left text-left  m-0"> {{item.created}}</span>
                <span class="float-left text-left  m-0">
                    <i style="" class="glyphicon glyphicon-eye-open"></i>:
                </span>
                <span class="float-left text-left m-0"> {{item.view_counter.view_counter}}</span>
                <img src="{{item.image_url}}" alt="{{item.name}}" class="thumb">
            </a>
        </li>
    </ul>
</div>