.like-block {
  display: inline-block!important;
  width: 29%;
  text-align: right;
}
.like-btn {
  background: transparent;
  background-image: url("http://lablog.dev/images/like.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
.like-hollow-btn {
  background: transparent;
  background-image: url("http://lablog.dev/images/like_hollow.svg");
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
