<app-post-nav></app-post-nav>
<div *ngIf="post" class="posts container">
  <div class="row block">
    <div class="row">
      <div class="col-lg-12">
        <a [routerLink]="['/post/', post.id]" class="header clearfix">{{post.name}}</a>
        <div class="card-block">
          <img src="{{post.image_url}}" alt="{{ post.name }}" class="img-thumbnail">
          <p>
            {{ post.body }}
          </p>
          <span class="float-left text-left">Created: </span>
          <span class="text-muted float-left text-left"> {{post.created}}</span>
          <a [routerLink]="['/user/', post.user.id]"
             class="btn btn-link btn-sm float-right text-right">{{post.user.name}}</a>
          <span class="float-right text-right">Writer:</span>
        </div>
        <disqus [identifier]="post.id" [url]="'/post/' + post.id" [lang]="'en'"
                (onNewComment)="onComment($event)" (onReady)="onReady($event)" (onPaginate)="onPaginate($event)"></disqus>
      </div>
    </div>
  </div>
</div>