<app-post-nav></app-post-nav>
<h3 class="text-muted">Your Posts</h3>
<div class="posts container">
  <div *ngFor="let post of posts" class="row block">
    <div class="row">
      <div class="col-lg-12">
        <a [routerLink]="['/posts/', post.id]" class="header clearfix">{{post.name}}</a>
        <span class="badge badge-secondary bg-info" *ngIf="post.available">{{post.published}}</span>
        <span class="badge badge-secondary bg-dark" *ngIf="!post.available">{{post.published}}</span>
        <div class="tag-block">
          <strong class="text-muted">tags: </strong>
          <a *ngFor="let tag of post.tagged"
             class="post-tag" [routerLink]="['posts/tagged/' + tag.tag_slug]">
            {{tag.tag_slug}}
          </a>
          <span class="text-muted" *ngIf="!post.tagged.length">no tags</span>
        </div>

        <div class="card-block">
          <img src="{{post.image_url}}" alt="{{ post.name }}" class="img-thumbnail">
          <p>
            {{ post.preamble }}
          </p>
          <span class="text-muted float-left text-left">{{post.created}}</span>
          <a [routerLink]="['/posts/', post.id]"
             class="btn btn-dark btn-sm float-right text-right m-1">go to post</a>
          <a *ngIf="authenticated && post.user.email === user.email" [routerLink]="['/posts/update/', post.id]"
             class="btn btn-info btn-sm float-right text-right m-1">edit post</a>
        </div>
      </div>
    </div>
    <hr style="border: dashed 1px darkgrey; width: 100%">
  </div>
  <app-pagination [pagination]="pagination"
                  [page]="page"
                  (pageUpdated)="pageUpdated($event)">
    (click)="all(pagination.current_page)"
    (offset)="4">
  </app-pagination>
</div>